.authLayout {
  padding: 24px;
}

.authCard {
  background-color: white;
  border-radius: 6px;
  box-shadow: black 0px 0px 6px -3px;
  padding: 16px;
  max-width: 90%;
  width: 480px;
}

.successCard {
  background-color: white;
  border-radius: 6px;
  box-shadow: black 0px 0px 6px -3px;
  padding: 24px;
}

.successCard > h3 {
  font-size: 36px;
}
.authCard h1 {
  font-size: 32px;
}

.authCard > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.authCard a {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 24px;
  color: var(--purple);
}

.alertError {
  background-color: var(--danger);
  color: white;
  padding: 12px;
  margin-bottom: 6px;
}

.alertSuccess {
  background-color: var(--success);
  color: white;
  padding: 12px;
  margin-bottom: 6px;
}
